* {
  box-sizing: border-box;
}

p {
  margin: 0 auto;
}

nav {
  z-index: 100;
  padding: 0 5%;
}

ul.inline-b > li {
  display: inline;
}

footer a {
  color: #9e9e9e;
}

.rating-module {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

#featured-video {
  background-image: url("../images/previewfeatured.jpg");
  height: 700px;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.featured-video-info {
  margin-bottom: 1rem;
}

#slogan {
  height: 200px;
}

#features {
  background-image: url("../images/sea-home-page.jpg");
  height: 500px;
  padding: 2rem 0;
}

#features h2 {
  margin-top: 0;
}

.modal .btn, .modal .btn-large {
  margin-top: 1em;
}

.material-icons {
  vertical-align: bottom;
}

.inline {
  display: inline;
}

.inline-b {
  display: inline-block;
}

.mr5 {
  margin-right: 5%;
}

.bg-responsive {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0 !important;
}

.absolute-right {
  position: absolute;
  right: 0 !important;
}

.absolute-top {
  position: absolute;
  top: 0 !important;
}

.absolute-centered {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.border-secondary {
  border: 1px solid grey !important;
}

.centered {
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.table-cell {
  display: table-cell;
}

.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

input[id="search"] {
  height: 45px !important;
  margin-top: 10px !important;
  border-radius: 2px;  
}

.search-input {
  height: 45px !important;
  margin-top: 10px !important;
  border-radius: 2px;
}

nav .input-field label {
  top: -20px !important;
  left: 20px !important;
}
