* {
  box-sizing: border-box;
}

p {
  margin: 0 auto;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav {
  z-index: 100;
  padding: 0 5%;
  background-color:black !important;
}

.card-width{
  width: 20%;
}

.icons-order{
  float: right;
}

.bar{
  background-color: grey;
  z-index: 0;
  padding: 0;
}

.floati{
  width: 30%;
  float: left;
  padding: 1em;
}

.rate{
  padding: 1em;
  float: right;
}

.title {
    color: black;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0.5em;
    float: left;
    width: 100%;
}

ul.inline-b > li {
  display: inline;
}

footer a {
  color: #9e9e9e;
}

.rating-module {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  margin-top: 50px;
}

.nav{
  background-color: black;
}

#slogan {
  height: 200px;
}

#features h2 {
  margin-top: 0;
}

.inline {
  display: inline;
}

.inline-b {
  display: inline-block;
}

.mr5 {
  margin-right: 5%;
}

.pl0{
  padding-left: 0;
}

.bg-responsive {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0 !important;
}

.absolute-right {
  position: absolute;
  right: 0 !important;
}

.absolute-top {
  position: absolute;
  top: 0 !important;
}

.absolute-centered {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.border-secondary {
  border: 1px solid grey !important;
}

.centered {
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.table-cell {
  display: table-cell;
}

.bottom-column {
  float: none;
  display: table-cell;
  vertical-align: bottom;
}

#search-box {
  padding: .25%;  
}

/* TODO: meter los colores buenos aqui*/

.tabs .tab a:hover, .tabs .tab a.active{
  color: black !important;
}

.tabs .tab a {
  color: grey !important;
}

.tabs .indicator {
  background-color: black !important;
}

input[id="search"] {
  height: 45px !important; 
  margin-top: 10px !important;
}

.search-input {
  background-color: #535353 ;
  height: 45px !important; 
  margin-top: 10px !important;
}

nav .input-field label {
  top: -20px !important;
  left: 0 !important;
}

.video-container > iframe:nth-child(1) {
  border: none;
}

.slideshow-wrapper {
  position:relative;
  float: left;
}
.title {
  position: absolute;
  bottom: 10px;
  left: 20px;
  right: 0;
  z-index: 2;
  padding: 0;
  font-size: 16.85px;
  color: #F5F5F5;
  letter-spacing: 0;
}

.slideshow-wrapper:before {
  content: '';
  position:absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
  z-index: 1;
  margin: 0 .75rem;
}