* {
  box-sizing: border-box;
}

p {
  margin: 0 auto;
}

nav {
  z-index: 100;
  padding: 0 5%;
}

ul.inline-b > li {
  display: inline;
}

footer a {
  color: #9e9e9e;
}

.rating-module {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.tabs .tab a {
  color: grey !important;
}

.tabs .tab a:hover, .tabs .tab a.active{
  color: #616161 !important;
}

.tabs .indicator{
  background-color: #616161!important;
}

.chanLink:link{
  color: #616161;
  text-decoration: none;
}

.chanLink:hover {
    font-weight: bold;
}

#featured-video {
  background-image: url("../images/previewfeatured.jpg");
  height: 700px;
  margin-bottom: 0;
  padding-bottom: 2rem;
}

.featured-video-info {
  margin-bottom: 1rem;
}

.rating-module .material-icons {
  vertical-align: bottom;
}

.inline {
  display: inline;
}

.inline-b {
  display: inline-block;
}

.mr5 {
  margin-right: 5%;
}

.modal .btn, .modal .btn-large {
  margin-top: 1em;
}

.bg-responsive {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0 !important;
}

.absolute-right {
  position: absolute;
  right: 0 !important;
}

.absolute-top {
  position: absolute;
  top: 0 !important;
}

.absolute-centered {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.border-secondary {
  border: 1px solid grey !important;
}

.centered {
  margin: 0 auto;
}

.full-height {
  height: 100%;
}

.table-cell {
  display: table-cell;
}

.bottom-column {
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.m0-top {
  margin-top: 0;
}

.p1-top {
  padding-top: .75rem;
}

input[id="search"] {
  height: 45px !important;
  margin-top: 10px !important;
}

.search-input {
  background-color: #535353 ;
  height: 45px !important;
  margin-top: 10px !important;
}

nav .input-field label {
  top: -20px !important;
  left: 0 !important;
}
.full-width {
   width: 100%;
 }

 .tab-icons{
   margin-bottom: 22%;
 }

 .tab-right-icons{
   margin-top: 7%;
 }

@media only screen and (max-width: 600px) {
  .description{
    display: none;
  }
}


html body main div.container div.row.col.s12 ul.tabs.hide-on-small-only a.grey-text i.right.material-icons{
  line-height: 48px;
}
